@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome</h2>
    <p><br />This is personal directory for From the Daily Prophet to keep a track of books they have </p>
    <p>published and the authors they have published them for. It also has contact information of all of </p>
    <p>the associated authors.</p>
</div>
